body{font-family: Arial, sans-serif; color: #000;background: #fff; font-size: 14px; margin: 0px; padding: 0px;}
a{color: #000000;text-decoration: none;outline: none; -webkit-transition: all 0.3s ease-in;-moz-transition: all 0.3s ease-in;transition: all 0.3s ease-in;}
a:hover {color: #037934;text-decoration: none;outline: none; -webkit-transition: all 0.3s ease-in;-moz-transition: all 0.3s ease-in;transition: all 0.3s ease-in;}

.cw_main_container{width: 100%;margin: 0; padding: 0px; float: left;}
.cw_main_container .cw_container{max-width: 1140px;width: 100%;margin: 0 auto; padding: 0px;}
.cw_main_container .cw_text_center{text-align: center;}
.cw_main_container .cw_d_block{display: block;}
.cw_main_container .my-2{margin-top:20px;margin-bottom:20px;}
.cw_main_container .my-3{margin-top:30px;margin-bottom:30px;}
.cw_main_container .my-4{margin-top:40px;margin-bottom:40px;}
.cw_main_container .img_responsive{max-width: 100%;}
.cw_main_container .img_responsive{max-width: 100%;}
.cw_main_container .category_title{text-align: center;display: block;color: #037934; font-size: 32px;}

/*Header*/
.cw_main_container .cw_header .logo{max-width:100%; max-height: 100px;margin: auto;display: table;position: relative;top: 20px;z-index: 100;}

/*Banner*/
.cw_main_container .cw_banner{width: 100%; max-height: 700px; display: block;text-align: center;position: relative; overflow: hidden;}

/*Products*/
.cw_main_container .cw_container .cw_product_list{width: 100%;display: block;margin: 0; padding: 0px;}
.cw_main_container .cw_container .cw_product_list li{margin: 0 0 15px; padding: 30px; list-style: none; text-align: center;width: 33.33%;
float: left;box-sizing: border-box;}
.cw_main_container .cw_container .cw_product_list li .cw_roduct_img{margin: 0; padding: 0px;}
.cw_main_container .cw_container .cw_product_list li img{height: auto;width: 100%; /* or max-width: 100%; */}
.cw_main_container .cw_container .cw_product_list li .cw_btn_wrap{text-align: center; display: block;}
.cw_main_container .cw_container .cw_product_list li .cw_btn_wrap .cw_btn_buynow{border: solid 1px #037934;border-radius: 4px;padding: 8px 20px;font-size: 16px;color: #037934;background: #fff; cursor: pointer;}
.cw_main_container .cw_container .cw_product_list li .cw_btn_wrap .cw_btn_buynow:hover{border-color: #000; color: #fff; background: #000;}
.cw_main_container .cw_container .cw_product_list li .cw_product_title{font-size: 18px; color: #037934;padding: 15px 0;}

/*Product Slider*/
.product_slider{position: relative;max-width: 1140px;}
.product_slider .MS-content {white-space: nowrap;overflow: hidden;}
.product_slider .MS-content .item {text-align: center;display: inline-block;position: relative;vertical-align: top;overflow: hidden;width: 33.33%;height: 100%;white-space: normal;padding: 0 30px;box-sizing: border-box;}
.cw_main_container .product_slider .MS-content .item img{height: auto;width: 100%; /* or max-width: 100%; */}
.cw_main_container .product_slider .MS-content .item .cw_btn_wrap{text-align: center; display: block;}
.cw_main_container .product_slider .MS-content .item .cw_btn_wrap .cw_btn_buynow{border: solid 1px #037934;border-radius: 4px;padding: 8px 20px;font-size: 16px;color: #037934;background: #fff; cursor: pointer;}
.cw_main_container .product_slider .MS-content .item .cw_btn_wrap .cw_btn_buynow:hover{border-color: #000; color: #fff; background: #000;}
.cw_main_container .product_slider .MS-content .item .cw_product_title{font-size: 18px; color: #037934;padding: 15px 0;}

.cw_main_container .product_slider .MS-controls button{width: 32px;height:54px;border: 0; outline: 0px; cursor: pointer; position: absolute; top: 50%;transform: translateY(-50%);}
.cw_main_container .product_slider .MS-controls .MS-left{left: 0px;background:url(../images/back_arrow.png) no-repeat 6px 10px rgba(0,0,0,0.2);}
.cw_main_container .product_slider .MS-controls button.MS-left:hover{background:url(../images/back_arrow.png) no-repeat 6px 10px #037934;}
.cw_main_container .product_slider .MS-controls .MS-right{right: 0px;background:url(../images/next_arrow.png) no-repeat 6px 10px rgba(0,0,0,0.2);}
.cw_main_container .product_slider .MS-controls button.MS-right:hover{background:url(../images/next_arrow.png) no-repeat 6px 10px #037934;}

/*Slider Main*/
.cw_main_container .slider, .cw_main_container .slider > div {background-position: center center;display: block;width: 100%;height: 500px;position: relative;background-size: cover;background-repeat: no-repeat;background-color: #000;overflow: hidden;-moz-transition:transform 0.4s;-o-transition: transform 0.4s;-webkit-transition: transform 0.4s;transition: transform 0.4s;}
.cw_main_container .slider > div {position: absolute;}
.cw_main_container .slider > i {color: #5bbd72;position: absolute;font-size: 60px;margin: 10px;top: 40%;text-shadow: 0 10px 2px #223422;transition: 0.3s;width: 30px;padding: 6px 10px;background: #fff;background: rgba(255, 255, 255, 0.3);cursor: pointer;line-height: 0;
box-sizing: content-box;border-radius: 3px;z-index: 4;}
.cw_main_container .slider > i svg {margin-top: 3px;}
.cw_main_container .slider > .left {left: -100px;}
.cw_main_container .slider > .right {right: -100px;}
.cw_main_container .slider:hover > .left {left: 0;}
.cw_main_container .slider:hover > .right {right: 0;}
.cw_main_container .slider > i:hover {background: #fff;background: rgba(255, 255, 255, 0.8);transform: translateX(-2px);}
.cw_main_container .slider > i.right:hover {transform: translateX(2px);}
.cw_main_container .slider > i.right:active, .cw_main_container .slider > i.left:active {transform: translateY(1px);}
.cw_main_container .slider:hover > div {transform: scale(1.01);}
.cw_main_container .slider > ul {position: absolute;bottom: 10px;left: 50%;z-index: 4;padding: 0;margin: 0;transform: translateX(-50%);}
.cw_main_container .slider > ul > li {padding: 0;width: 20px;height: 20px;border-radius: 50%;list-style: none;float: left;margin: 10px 10px 0;cursor: pointer;border: 1px solid #fff;-moz-transition: 0.3s;-o-transition: 0.3s;-webkit-transition: 0.3s;transition: 0.3s;}
.cw_main_container .slider > ul > .showli {background-color: #7ec03d;-moz-animation: boing 0.5s forwards;-o-animation: boing 0.5s forwards;-webkit-animation: boing 0.5s forwards;animation: boing 0.5s forwards;}
.cw_main_container .slider > ul > li:hover {background-color: #7ec03d;}
.cw_main_container .slider > .show {z-index: 1;}
.cw_main_container .hideDots > ul {display: none;}
.cw_main_container .showArrows > .left {left: 0;}
.cw_main_container .showArrows > .right {right: 0;}

/*Footer*/
.cw_main_container .cw_footer{background:#f2f2f2; padding: 15px;}
.cw_main_container .cw_footer .cw_footer_links{float: none;width: 100%;text-align: center;padding: 0;}
.cw_main_container .cw_footer .cw_footer_links li{display: inline-block;padding: 0 12px;border-left: 1px solid #d1d1d1;margin: 0 0 6px;line-height: 16px; font-size: 13px;}
.cw_main_container .cw_footer .cw_footer_links li:first-child{border-left:none;}
.cw_main_container .cw_footer p{padding: 0;margin: 0; font-size: 13px;font-weight: 300;color: #666;float: none;vertical-align: middle;width: 100%;text-align: center;}

.cw_main_container #goto_top{z-index: 999;display: none;position: fixed;right: 10px;bottom: 10px;width: 36px;height: 36px;border: none;background: #037934;text-align: center;}
.cw_main_container #goto_top span{position:absolute;top: -4px;left: 9px;color: #fff;text-align: center;font-size: 24px;line-height: 36px;}
.cw_main_container #goto_top:hover{background: #000;border: none;}

/*Media*/
@media (max-width: 1366px) {
.cw_main_container .slider, .cw_main_container .slider > div {height: 400px;}
}
@media (max-width: 991px) {
.cw_main_container .slider, .slider > div {height: 400px;}
}
@media (max-width:767px){
.cw_main_container .cw_container .cw_product_list li{padding: 15px;}
.cw_main_container .cw_container .cw_product_list li .cw_product_title{font-size: 17px;}
.cw_main_container .product_slider .MS-content .item {width: 50%;padding: 0 15px;}
.exampleSlider .MS-content {margin: 0;}
.cw_main_container .slider, .cw_main_container .slider > div {height: 300px;}
.cw_main_container .exampleSlider .MS-content .item {width: 50%;}
.cw_main_container .slider, .cw_main_container .slider > div {height: 200px;}
}
@media (max-width:575px){
.cw_main_container .cw_container .cw_product_list li{width: 100%;}
.cw_main_container .product_slider .MS-content .item{width: 100%;}
.cw_main_container .exampleSlider .MS-content .item{width: 100%;}
.cw_main_container .slider, .cw_main_container .slider > div {height: 150px;}
.cw_main_container .slider > i {top: 28%;}
}